<footer>
  <div class="container">
    <div class="row footer-icon">
      <div class="col-md-4 mindbody">
          <div class="row">
            <div class="col-md-2">
              <%= link_to "https://mindbody.io/?_branch_match_id=519686504558933267" do %>
                 <%= image_tag "footer/mbo-logo.png", width: "38", height: "38", alt: "MindBody" %>
              <% end %>
            </div>
            <div class="col-md-8" style="text-align: left">
              Mind Body app for another easy way to schedule with me.
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <p>Made with love &copy; 2019</p>
      </div>
    </div>
  </div>
</footer>
<a href="#" class="back-to-top">
  <i class="fa fa-arrow-up"></i>
</a>
