<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="social-icons wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
          <ul>
            <li class="dribbble"><a href="https://www.yelp.com/biz/stephen-f-pullis-lmt-san-francisco-2"><i class="fa fa-yelp"></i></a></li>
            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="linkedin"><a href="https://www.linkedin.com/in/stephen-pullis-105a056/"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="site-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
          <p>Made with love &copy; 2019</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<a href="#" class="back-to-top">
  <i class="fa fa-arrow-up"></i>
</a>
