<!-- ***** Header Area Start ***** -->
<header class="header_area animated">
 <div class="container-fluid">
   <!-- <div class="row align-items-right"> -->
     <!-- Menu Area Start -->
     <!-- <div class="col-12 col-lg-10"> -->
       <div class="menu_area">
         <nav class="navbar navbar-expand-lg navbar-light">
           <!-- Logo -->
           <a class="navbar-brand" href="#">
             <%= image_tag("navbar/stephen_logo2.jpg", class: "navbar_logo", style: "border-radius: 0px;") %>
             <strong>STEPHEN F. PULLIS, L.M.T</strong>
             <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button> -->
           </a>

           <!-- Menu Area -->
           <div class="collapse navbar-collapse" id="ca-navbar">
             <ul class="navbar-nav ml-auto" id="nav">
               <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
               <li class="nav-item"><a class="nav-link" href="#welcome">Welcome</a></li>
               <li class="nav-item"><a class="nav-link" href="#about">Stephen</a></li>
                <li class="nav-item"><a class="nav-link" href="#prices">Services</a></li>
               <li class="nav-item"><a class="nav-link" href="#modalities">Modalities</a></li>
               <li class="nav-item"><a class="nav-link" href="#testimonials">Testimonials</a></li>
               <li class="nav-item"><a class="nav-link" href="#blog">Blog</a></li>
               <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
             </ul>
           </div>
         </nav>
       </div>
     <!-- </div> -->
     <!-- Signup btn -->
     <!-- <div class="col-12 col-lg-2">
       <div class="sing-up-button d-none d-lg-block">
         <a href="#">
           <span class="icon">
             <i class="fa fa-lock"></i>
          </span>
        </a>
       </div>
     </div> -->
   </div>
 </div>
</header>
