<div id="about" class="about_section">
  <div class="counters section" data-stellar-background-ratio="0.5">
    <div class="overlay-3"></div>
    <div class="container">
      <div class="row">
       <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="wow fadeInUp" data-wow-delay=".6s">
            <div class="facts-item">
              <div class="icon">
                <i class="fa fa-users"></i>
              </div>
              <div class="fact-count">
                <h3><span>2000</span>+</h3>
                <h4>Satisfied Clients</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="wow fadeInUp" data-wow-delay=".6s">
            <div class="facts-item">
              <div class="icon">
                <i class="fa fa-user"></i>
              </div>
              <div class="fact-count">
                <h3><span>500</span>+</h3>
                <h4>Active Clients</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="wow fadeInUp" data-wow-delay=".8s">
            <div class="facts-item">
              <div class="icon">
                <i class="fa fa-heart"></i>
              </div>
              <div class="fact-count">
                <h3><span>1689</span></h3>
                <h4>Peoples Love</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10 wow fadeInRight" data-wow-delay="0.2s">
        <div class="touch-slider">
          <div class="about-item">
            <div class="img row justify-content-center">
              <%= image_tag("stephen/stephen.jpg", alt: "")%>
            </div>
            <h3>Stephen Pullis</h3>
            <div class="about-text">
              <p>Initially certified by the McKinnon School of Professional Massage and Bodywork in 1984, and subsequently licensed by the State of Oregon in 1989 – I have continually devoted myself to massage therapy and continued my education in whole-person wellness.
                Born in Kansas and raised in the Midwest and Eastern Cities, I moved to California in 1976 and graduated with a BA in Liberal Studies (magna cum laude) in 1983. I began my massage practice in 1984 in San Francisco.
                Throughout my life, I have had a deep interest in humanity, and in how various cultures live and view the world. I have experienced life in Central Mexico, Bali Indonesia, Thailand, Europe, Australia, Russia — and even among the Lakota-Souix people of this land. Currently, I am interested in Tibetan Buddhism.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
