<div id="about" class="about_section">
  <!-- <div class="counters section" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
       <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="wow fadeInUp" data-wow-delay=".6s">
            <div class="facts-item">
              <div class="icon">
                <i class="fa fa-users"></i>
              </div>
              <div class="fact-count">
                <h3><span>2000</span>+</h3>
                <h4>Satisfied Clients</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="wow fadeInUp" data-wow-delay=".6s">
            <div class="facts-item">
              <div class="icon">
                <i class="fa fa-user"></i>
              </div>
              <div class="fact-count">
                <h3><span>500</span>+</h3>
                <h4>Active Clients</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="wow fadeInUp" data-wow-delay=".8s">
            <div class="facts-item">
              <div class="icon">
                <i class="fa fa-heart"></i>
              </div>
              <div class="fact-count">
                <h3><span>1689</span></h3>
                <h4>Peoples Love</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10 wow fadeInRight" data-wow-delay="0.2s">
        <div class="touch-slider">
          <div class="about-item">
            <div class="img row justify-content-center mb-2">
              <%= image_tag("stephen/stephen.jpg", alt: "")%>
            </div>
            <h2 class="section-title wow fadeIn"><span>STEPHEN</span></h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
            <div class="about-text">
              <p>
                Stephen Pullis is a licensed massage therapist for discerning massage therapy seekers in the San Francisco area.
                He specializes in a customized therapeutic massage experience that focuses on  increasing mobility, balance, and functionality, reducing soreness and promoting relaxation.
                Clients will enjoy a heated massage table with soft linens, gentle lighting, and soothing music.
                The studio maintains a warm and private environment designed to be an escape from everyday realities.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
