<div id="about" class="about_section">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10">
        <div class="touch-slider">
          <div class="about-item">
            <div class="img row justify-content-center mb-2">
              <%= image_tag("stephen/stephen.jpg")%>
            </div>
            <h2 class="section-title"><span>STEPHEN</span></h2>
            <hr class="lines">
            <div class="about-text">
              <p>
                Stephen Pullis is a licensed massage therapist for discerning massage therapy seekers in the San Francisco area.
                He specializes in a customized therapeutic massage experience that focuses on  increasing mobility, balance, and functionality, reducing soreness and promoting relaxation.
                Clients will enjoy a heated massage table with soft linens, gentle lighting, and soothing music.
                The studio maintains a warm and private environment designed to be an escape from everyday realities.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="social-icons">
        <ul>
          <li class="yelp"><a href="https://www.yelp.com/biz/stephen-f-pullis-lmt-san-francisco-2"><i class="fa fa-yelp"></i></a></li>
          <li class="linkedin"><a href="https://www.linkedin.com/in/stephen-pullis-105a056/"><i class="fa fa-linkedin"></i></a></li>
          <li class="email">
            <%= mail_to "stephenmassage@mac.com" do %>
              <i class="fa fa-envelope"></i>w
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
