<section id="contact" class="section">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-9 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
        <div class="contact-block">
          <div class="section-header">
            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Contact </h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          </div>
          My practice is conveniently located in an Edwardian Flat in the Heart of the Castro -the geographical center of San Francisco- with easy access by public transportation or by car (only 10 -15 minutes from major Bay Area freeways).
          <form id="contactForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
               <div class="col-md-12">
                <div class="form-group">
                  <input type="text" placeholder="Subject" id="msg_subject" class="form-control" required data-error="Please enter your subject">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <textarea class="form-control" placeholder="Your Message" rows="11" data-error="Write your message" required></textarea>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="submit-button text-center">
                  <button class="btn btn-common" id="submit" type="submit">Send Message</button>
                  <div id="msgSubmit" class="h3 text-center hidden"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
