<header id="home" data-stellar-background-ratio="0.5">
  <div class="back-img">
    <div class="layers"></div>
  </div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10">
        <div class="contents text-center">
          <h1 class="wow pos fadeInDown mt-5 mb-5" data-wow-duration="1000ms" data-wow-delay="0.3s"></h1>
          <p class="lead pos wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">
            Thank you for stopping by and giving me the opportunity to showcase my well established private Massage Therapy practice.
            Here you will discover the experience I offer in our beautiful City by the Bay.  Enjoy your visit and if this sounds like what you are looking for,
            go ahead and schedule an appointment through the button below
            or feel free to contact me with any questions you may have through "Contact" section below.
            <div class=" ead pos wow fadeIn signature">Yours in Health, Stephen</div>
          </p>
          <a href="mindbody" class="btn pos btn-common wow fadeInUp" data-wow-duration="1000ms" data-toggle="modal" data-target="#exampleModal" data-wow-delay="400ms">Find an Appointment</a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <script src="https://widgets.healcode.com/javascripts/healcode.js" type="text/javascript"></script>
        <healcode-widget data-type="appointments" data-widget-partner="object" data-widget-id="7b54492a069" data-widget-version="0" ></healcode-widget>
      </div>
    </div>
  </div>
</div>
