<% title 'Home' %>
<% description 'Maintaining physical, mental, and emotional health is vital for everyone. Give yourself the gift of living well.' %>
<% keywords 'Massage Therapy, Deep Tissue, Massage Castro, LGBTQ massage, Best Massage, Licensed massage, Certified massage, 5 Star massage, Top 10 Massage Therapist ,Massage San Francisco, Central Location' %>

<header id="home" data-stellar-background-ratio="0.5">
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="back-img">
        <div class="layers"></div>
      </div>
      <div class="col-md-10">
        <div class="contents text-center">
          <p class=" pos fadeIn mb-5 intro_text">
            Maintaining physical, <br>mental, and emotional <br>health is vital for everyone. <br>Give yourself the gift of living well.
          </p>
          <a href="mindbody" class="btn pos btn-common" data-toggle="modal" data-target="#bodyMind" data-wow-delay="400ms">Find an Appointment</a>
          <div class="pos float-right">
            <script src="https://clients.mindbodyonline.com/classic/ws?studioid=251698&stype=42&giftCardID=100011" type="text/javascript"></script><healcode-widget data-version="0.2" data-link-class="healcode-gift-card-image-link" data-mb-site-id="251698" data-type="gift-card-link" data-inner-html="<img alt='Gift Card' src='assets/home/gift_card.jpg' height='100' width='145' class='gift_card'/>" data-service-id="10004" />
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Modal -->
<div class="modal fade" id="bodyMind" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <script src="https://widgets.healcode.com/javascripts/healcode.js" type="text/javascript"></script>
        <healcode-widget data-type="appointments" data-widget-partner="object" data-widget-id="7b54492a069" data-widget-version="0" ></healcode-widget>
      </div>
    </div>
  </div>
</div>
