<section id="modalities" class="section">
  <div class="container mb-1">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s"><span>Modalities</h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
    </div>
    <div class="row modalities-col">
      <div class="col-md-2 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
          <h4>Traditional Swedish massage</h4>
          <p>Increasing the level of oxygen in the blood, decreasing muscle toxins, improving circulation and flexibility while easing tension.</p>
        </div>
      </div>
      <div class="col-md-2 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.4s">
          <h4>Deep Tissue</h4>
          <p>Deep tissue massage involves applying firm pressure and slow strokes to reach deeper layers of muscle and fascia</p>
        </div>
      </div>
      <div class="col-md-2 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.4s">
          <h4>Myofascial Release</h4>
          <p>Myofascial Release is a safe and very effective hands-on technique that involves applying gentle sustained pressure into the Myofascial connective tissue restrictions to eliminate pain and restore motion.</p>
        </div>
      </div>
      <div class="col-md-2 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.6s">
          <h4>Trigger Point Therapy</h4>
          <p>
            Trigger point massage increases circulation and oxygenation in the area and often produces instant relief.
            Myofascial trigger points are tiny contraction knots that develop in a muscle when it is injured or overworked.
          </p>
        </div>
      </div>
      <div class="col-md-2 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.6s">
          <h4>Stretching and Mobilization</h4>
          <p>Mobilization is a manual therapeutic technique that fosters movement in stagnant tissues and joints.</p>
        </div>
      </div>
      <div class="col-md-2 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.6s">
          <h4>Energy Balancing</h4>
          <p>It is the process of gently removing imbalances & blockages from the energy field</p>
        </div>
      </div>
      <div class="col-md-2 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.6s">
          <h4>Reiki</h4>
          <p>Reiki is a Japanese technique for stress reduction and relaxation that also promotes healing</p>
        </div>
      </div>
    </div>
  </div>
  <div class="ml-5">
    *Each session will be individually tailored for you, based on the issues you report , what I discover, and the creative synergy of the moment.
  </div>
</section>
