<section id="services" class="section">
  <div class="container mb-1">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">My <span>Services</span></h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">You can always count on me to be ready for you. This is your session and my whole focus is on you and your body. My energy level, enthusiasm and massage room reflect this. If it’s your first session we will take a few moments to discuss your health history and you can let me know what issues you have and your intentions for your session.  You will always receive a full session when you arrive on time.</p>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
          <h4>Traditional Swedish massage</h4>
          <p>Increasing the level of oxygen in the blood, decreasing muscle toxins, improving circulation and flexibility while easing tension.</p>
        </div>
      </div>
      <div class="col-md-2 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.4s">
          <h4>Deep Tissue</h4>
          <p>Deep tissue massage involves applying firm pressure and slow strokes to reach deeper layers of muscle and fascia</p>
        </div>
      </div>
      <div class="col-md-2 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.6s">
          <h4>Trigger Poin</h4>
          <p>We apply Angular JS in our RoR based applications and products.</p>
        </div>
      </div>
      <div class="col-md-2 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.6s">
          <h4>Reiki</h4>
          <p>We apply Angular JS in our RoR based applications and products.</p>
        </div>
      </div>
      <div class="col-md-2 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.6s">
          <h4>Reflexology</h4>
          <p>We apply Angular JS in our RoR based applications and products.</p>
        </div>
      </div>
      <div class="col-md-2 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.6s">
          <h4>Add your text</h4>
          <p>We apply Angular JS in our RoR based applications and products.</p>
        </div>
      </div>

    </div>
  </div>
</section>
