/* ==========================================================================
 About Section Style
 ========================================================================== */

#about {
  background: #e4f0f8;
}

.about-item {
  text-align: center;
}

.about-item .img img {
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

.about-item .about-text h3 {
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
}

.about-item .about-text span {
  font-size: 15px;
  color: #999;
}

.about-item .about-text p {
  font-size: 14px;
  font-weight: 400;
  padding: 20px 10px 20px 10px;
  letter-spacing: 1px;
  margin: 0;
  line-height: 1.5;
  color: #999;
}

.about_section {
  padding-top: 110px;
  padding-bottom: 110px;
}

.about-item .section-title span {
  color: #4676fa;
}


.social-icons {
  margin-bottom: 20px;
  margin-left: 0px;
}

.social-icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-icons ul li {
  display: inline;
}

.social-icons ul li a {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid rgba(255, 254, 254, 0.07);
  line-height: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 23px;
}

.social-icons ul li a:hover {
  color: #ffffff;
}

.email a {
  color: #1da1f2;
}

.email a:hover {
  background: #1da1f2;
}

.linkedin a {
  color: #007bb6;
}

.linkedin a:hover {
  background: #007bb6;
}

.fa-yelp {
    color: #af0606;
}

.yelp a:hover {
  background: #8FBC8F;
}
