/* ==========================================================================
Screenshots Section Start
========================================================================== */

#screenshots {
  background: #f2f2f2;
}

.shot-item {
  margin-right: 15px;
  padding: 8px;
  border-radius: 4px;
  background: #fff;
}

.shot-item img {
  width: 100%;
}

.shot-item .overlay {
  display: block;
  position: relative;
}

.shot-item .overlay:before,
.shot-item .overlay:after {
  position: absolute;
  content: "";
  height: 30%;
  width: 30%;
  background: #346afe;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.shot-item .overlay:before {
  top: 0;
  left: 0;
  z-index: 1;
}

.shot-item .overlay:after {
  bottom: 0;
  right: 0;
  z-index: 1;
}

.shot-item:hover .overlay:before {
  height: 50%;
  width: 100%;
  opacity: 0.8;
}

.shot-item:hover .overlay:after {
  height: 50%;
  width: 100%;
  opacity: 0.8;
}

  .overlay .item-icon {
  height: 48px;
  width: 48px;
  line-height: 48px;
  color: #fff;
  left: 50%;
  margin-left: -24px;
  margin-top: -24px;
  top: 50%;
  position: absolute;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.shot-item:hover .item-icon {
  visibility: visible;
  opacity: 1;
}
