@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,600');

@import "bootstrap";
@import "font-awesome";

@import "./css/nivo-lightbox";
@import "./css/magnific-popup";
@import "./css/animate";
@import "./css/menu_sideslide";
@import "animate";
@import 'slick';

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  font-size: 14px;
  font-weight: 300;
  background: #fff;
  overflow-x: hidden;
}

p {
  font-size: 14px;
  line-height: 26px;
}

a:hover,
a:focus {
  color: #4676fa;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 0px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
  font-family: 'Lato', sans-serif;
}

.btn:focus {
  box-shadow: none;
  outline: none;
}

.btn-common {
  border: 2px solid #9bb6ff;
  background-color: #ffffff;
  color: #3466ae;
  position: relative;
  z-index: 1;
  text-align: center;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 600;
  border-radius: 0.25rem;
  text-transform: uppercase;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  border-radius: 4px;
}

.btn-common:hover {
  color: #3466ae;
  background-color: #E3ECFA;
  border: 2px solid #fff;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.btn-border {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 4px;
}

.btn-border:hover {
  border: 2px solid #fff;
  color: #fff;
  background-color: #4676fa;
}

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-rm {
  padding: 7px 10px;
  text-transform: capitalize;
}

.clear {
  clear: both;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 1px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

a:not([href]):not([tabindex]) {
  color: #4676fa;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: #4676fa;
}

.section {
  padding: 35px 0;
}

.section-header {
  margin-top: 60px;
  color: #fff;
  margin-bottom:20px;
  text-align: center;
}

.section-header .section-title {
  font-size: 42px;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 100;
  color: #0d3559;
  position: relative;
}

.section-header .section-title span {
  color: #4676fa;
}

.section-header .section-subtitle {
  margin-top: 15px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}

.section-header .lines {
  margin: auto;
  width: 70px;
  position: relative;
  border-top: 2px solid #346afe;
  margin-top: 15px;
}

.section-header .lines:before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  top: -6px;
  border: 4px solid #fff;
  border-radius: 50%;
  background: #4676fa;
  left: 29px;
}

/* --------------------------
 Header Area CSS
-------------------------- */

.header_area {
  left: 0;
  position: fixed;
  width: 100%;
  height: 75px;
  z-index: 99;
  top: 0;
  padding: 0 0%;
  background-color: #5B5AC8;
}

.navbar_logo{
  width: 37px;
}

.menu_area .navbar-brand {
  font-size: 35px;
  font-weight: 350;
  color: #fff;
  margin-top: 5px;
  line-height: 1;
  padding: 0;
}

.menu_area .navbar-brand:hover,
.menu_area .navbar-brand:focus {
  color: #fff;
}

.menu_area {
  // position: relative;
  // z-index: 2;
}

.menu_area #nav .nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}

.menu_area nav ul li > a:hover {
  color: #fb397d;
}

// .sing-up-button {
//     text-align: right;
// }

// .sing-up-button > a {
//     color: #fff;
//     font-weight: 500;
//     display: inline-block;
//     border: 2px solid #a883e9;
//     height: 50px;
//     min-width: 178px;
//     line-height: 46px;
//     text-align: center;
//     border-radius: 0px 24px 0px 24px;
// }

// .sing-up-button > a:hover {
//     background: #fb397d;
//     color: #fff;
//     border-color: transparent;
//     -webkit-transition-duration: 500ms;
//     -o-transition-duration: 500ms;
//     transition-duration: 500ms;
// }

/* stcicky css */

.header_area.sticky {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.05), 0 0 0 1px rgba(0,0,0,.05);
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 99;
}

.header_area.sticky .menu_area #nav .nav-link{
	color: #726DF1;
}

.header_area.sticky .menu_area .navbar-brand{
  color: #726DF1;
}

.header_area.sticky .sing-up-button > a{
	color: #FB397D;
}

.header_area.sticky .sing-up-button > a:hover{
	color: #fff;
}

.header_area.sticky .menu_area .navbar-brand {
  font-size: 50px;
}

.header_area.sticky .menu_area #nav .nav-link {
  padding: 23px 15px;
}

.header_area.sticky .navbar {
  padding: 0;
}
