/* ==========================================================================
 testimonial Section
 ========================================================================== */
#testimonials {
  background: #f6f9fc;
}

#testimonials .mix {
  padding: 10px;
}

#testimonials .testimonial-item .shot-item {
  margin: 0px;
}

.testimonial-img {
  overflow: hidden;
  display: block;
  position: relative;
}

.testimonial-img img {
  width: 100%;
}
